<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>BLOGBLOOMS | Homepage</title>
</head>
<body>
    <%- include("./partials/nav") %>

    <%- include("./partials/scripts") %>





</body>

</html>